<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
            <div class='container'>
                <div class='row'>
                    <div class='col-md-offset-1'>
                        <div class="col-md-3 text-center" id='chris-info'>
                            <img src='https://dl.dropboxusercontent.com/s/496zx8x1h416afk/68.jpg?dl=0' id='profile-picture'>
                            <h3 id='profile-name'>Chris</h3>
                        </div>
                        <div class='col-md-1'></div>
                        <div class="col-md-6" id='chris-about'>
                            <p>We invented trains in 1804. By the 1900s, we worked in three eight-hour shifts to keep the machine rolling all day. 
                            We built cars, built phones, built everything we could to make like easier, faster, more efficient. In my opinion, we peaked 
                            at the toaster. And yet for all that, we still spend our days working in the stone age.</p>
                            <br/>
                            <p>I'll tell you what. I'm tired of working like that. I wrote this after learning to code in just a few months, using a 
                            computer that linked me to a teacher 4000 miles away. If I can do that, why am I still keeping schedules on paper?</p>
                            <br/>
                            <p>I've pushed my companies to always strive for efficiency, and for me it comes from digital technology. I built one of the
                             first social media presences in naval foodservice history. I digitized standardized ACF forms to cut down on culinary competition 
                             paperwork. But I'm not all online. My event company, The Advneture Bureau, organizes community events throughout the year. Because 
                             when you get dowm to it, fancy apps and clever coding is nothing without people who want to use them.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>