<!DOCTYPE HTML>
<html>
    <head>
        <script src="http://code.jquery.com/jquery-latest.min.js"type='text/javascript'></script>
        <script src="http://unslider.com/unslider.min.js"type="text/javascript"></script>
        <script type='text/javascript'></script>
        <script>$(function() {
            $('#portfolio').unslider();
        });</script>
    </head>
    <body>
        <div class="text-center">
            <div class="banner" id="portfolio">
                <ul>
                    <li class="folio-item"><img src='https://dl.dropboxusercontent.com/s/6h2u5ez4l1noisb/IMG_2207.JPG?dl=0'></li>
                    <li class="folio-item"><img src='https://dl.dropboxusercontent.com/s/ny7ryd5s2nrf840/IMG_2227.JPG?dl=0'></li>
                    <li class="folio-item dev-match"><img src='https://dl.dropboxusercontent.com/s/6jo8zczo8d1jxq3/Screen%20Shot%202015-08-03%20at%208.03.20%20PM.png?dl=0'></li>
                </ul>
            </div>
        </div>
        <div class="supporting">
            <div class='container-fluid text-center'>
                <div class="row">
                    <div class="col-md-4 highlight-box">
                       <h5>Peacock Picture</h5>
                       <p>Taken in Charleston, SC.</p>
                       <br/>
                    </div>
                    <div class="col-md-4 highlight-box">
                        <h5>Musk Ox Picture</h5>
                        <p>Taken in Charleston, SC.</p>
                        <br/>
                    </div>
                    <div class="col-md-4 highlight-box">
                        <h5>Dev Match</h5>
                        <p>SaaS Application where developers meet.</p>
                        <a href='https://fierce-mountain-1697.herokuapp.com'>See it here</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>