<html>
  <head>
    <title>Chris Brucher's World</title>
  </head>
  <body>
    <div class="header">

    </div>
    
    <div class="main">
        <div class='container-fluid'>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class='jumbotron'>
                        <h3>Never stop improving.</h3>
                        <p>Life is too short to settle, and frontiers are always two steps ahead of you.</p>
                        <%= link_to "View My Work", portfolio_path, class: "btn btn-warning" %>
                  </div>
              </div>
          </div>
      </div>
    </div>
    
    
      </nav>
    </div>
  </body>
</html>